/* Wrapper section */
#left-side {
	width: 15%;
}
#middle-content {
	width: 65%;
}
#right-side {
	width: 20%;
}
.mpcdp_row{
	display: flex;
}
.mpcdp_row .col-md-12{
	width: 100%;
}
.mpcdp_row .col-md-9{
	width: 100%;
}
.mpcdp_row .col-md-6{
	width: 50%;
}
.mpcdp_row .col-md-3{
	width: 25%;
}
#mpcdp_settings{
	background: white;
	max-width: 97%;
	margin: 40px 0 0 20px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 60px #e4e4e4;
}
div#proler_product_data_tab #mpcdp_settings{
	margin: 20px;
}
#mpcdp_settings_page_header {
	display: flex;
	padding: 10px 30px;
	background: #45494c;
}
#mpcdp_logo {
	flex: 1;
	align-items: center;
	display: flex;
	color: #fff;
	font-size: 1.5em;
	letter-spacing: 1px;
}
#mpcdp_toolbar_icons{
	align-self:center;
	display:flex
}
#mpcdp_toolbar_icons a{
	padding: .6rem;
	text-decoration: none;
	color: #fff;
}
#mpcdp_toolbar_icons a span:hover {
    color: #ff8c00;
}
.mpcdp_settings_content{
	padding: 0 40px 30px;
}
.mpcdp_settings_section .mpcdp_settings_toggle{
	background: #f8f8f8;
}
.mpcdp_settings_section .mpcdp_settings_toggle .mpcdp_settings_option{
	padding: 20px;
	position: relative;
	border: 1px solid #ececec;
}
.mpcdp_settings_section .mpcdp_settings_toggle .mpcdp_settings_option:first-child{
	padding-top: 20px;
}
.mpcdp_settings_option.proler-option-content {
	background: #fff;
}
.proler-option-content .mpcdp_row, .new-role-wrap .mpcdp_row, .general-settings .mpcdp_row {
	margin-bottom: 30px;
	align-items: center;
}
.new-role-wrap .mpcdp_row {
	margin-bottom: 0;
}
.discount-range-demo{
	display: none;
}
.pr-settings .pr-item {
	margin-bottom: 30px;
}
.pr-settings .pr-item:last-child {
	margin-bottom: 0;
}
.role-settings-content {
    margin-top: 30px;
}
.proler-discount .mpcdp_settings_option_field_text {
    display: flex;
}
.mpcdp_settings_option_field.mpcdp_settings_option_field_text {
	text-align: right;
}
.proler-option-content .mpcdp_settings_option_field.mpcdp_settings_option_field_text {
	text-align: left;
}
.mpcdp_option_description{
	color: #acb0b6;
	padding: 5px 30px 0 0;
}
.mpcdp_option_description:hover{
	color:#000;
}
#mpcdp_settings .mpcdp_settings_option_ribbon{
	display: inline-block;
    border-radius: 15px;
    background-color: #6baf4b;
    padding: 1px 15px;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}
.mpcdp_settings_section_title {
	border-bottom: 1px solid #d8d8d8;
}
.mpcdp_settings_section_title.proler-page-title {
    font-size: 20px;
    margin: 20px 0 30px 0;
}
.pr-settings .mpcdp_settings_section_title {
    font-size: 17px;
    font-weight: 600;
    margin: 50px 0 15px 0;
}
span.proler-arrow {
	cursor: pointer;
}
span.proler-arrow img {
	width: 25px;
	position: relative;
	top: 10px;
	right: -10px;
}
.mpcdp_option_label{
	font-size: 15px;
}
.proler-gradient{
	background: linear-gradient(to right, #000000, #ff0030);
    background-clip: text;
    color: transparent;
    display: inline-block;
	line-height: initial;
}
.mpcdp_settings_section_description{
	margin: 0 0 20px 0;
    font-size: 15px;
}
a.proler-delete {
	display: inline-block;
	position: absolute;
	top: -10px;
	right: -10px;
}
a.add-new {
	border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 10px 30px;
	cursor: pointer;
}
.add-new-disrange{
    padding: 10px 30px;
    float: right;
    margin: 0 25px 0 0;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: pointer;
}
span.proler-delete {
	position: absolute;
    top: -13px;
    right: -8px;
    cursor: pointer;
    font-size: 25px;
}
span.proler-delete:hover {
	color: #b32d2e;
}
.pr-settings select {
	border: 1px solid #dfdfdf;
	line-height: 36px;
}
.proler-discount select[name="discount_type"] {
	max-width: 70px;
}
.pr-settings input[type="text"], .new-role-wrap input[type="text"] {
	border: 1px solid #dfdfdf;
	padding: 4px 10px;
}
.pr-settings input[type="text"], .pr-settings select, .new-role-wrap input[type="text"], input[type="datetime-local"]{
	width: 80%;
}
.disrange-item input[type="text"], .disrange-item select, .woocommerce_options_panel .disrange-item input[type="text"], .woocommerce_options_panel .disrange-item select{
	width: 25%;
	max-width: none;
}
.disrange-item input[type="text"], input[type="datetime-local"] {
	padding: 4px 10px;
}
textarea.proler-widefat {
	width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
	margin-top: 15px;
}
.woocommerce_options_panel textarea.proler-widefat{
	height: auto;
}
.proler-collapse-wrap{
	display: block;
	text-align: right;
	margin-bottom: 30px;
}
.proler-collapse-wrap .proler-collapse-all{
	cursor: pointer;
	padding: 10px 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.proler-collapse-wrap .proler-collapse-all:hover{
	background-color: #ccc;
}

/* Navigation section */
.proler-nav-wrap{
	background:#f8f8f8;
	height: 100%;
}
.proler-nav-wrap a{
	text-decoration: none;
}
.proler-nav-wrap .nav-item{
	border-left-style: solid;
	border-left-color: #f8f8f8;
	padding: 18px 15px;
	color: #c7cbce;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.proler-nav-wrap .nav-item.proler-nav-orange{
	color: #FF8C00;
}
.proler-nav-wrap .nav-item:not(.active){
	border-bottom:1px solid #ecedee;
}
.proler-nav-wrap .nav-item.active{
	border-left-color: #45494c;
	border-bottom: 1px solid #ecedee;
	background: white;
	color: #2b3d49;
	transition: border .4s ease-in-out;
}
.proler-nav-wrap .nav-item:hover{
	padding: 18px 20px;
	transition: all .2s ease-in-out
}
.proler-nav-wrap .nav-item span.dashicons {
	padding-right: 10px;
}
.proler-nav-wrap .nav-item.active span.dashicons {
	color: #45494c;
}
.mpcdp_settings_submit .submit{
    text-align: center;
}
.mpcdp_settings_submit button.mpcdp_submit_button, .mpcdp_settings_submit .submit input#submit{
    cursor: pointer;
    color: white;
    border-radius: 100px;
    font-weight: 600;
    padding: 12px 20px;
    background: #45494c;
    transition: all .2s ease-in-out;
}
.mpcdp_settings_submit button.mpcdp_submit_button:hover, .mpcdp_settings_submit .submit input:hover{
	transition: all .2s ease-in-out;
	transform: scale(1.04);
	box-shadow: 0 5px 15px -5px #b4bcc1;
}
.mpcdp_settings_submit button.mpcdp_submit_button:focus{
	outline:none !important;
}
.mpcdp_submit_button .save-text.save-text-mobile{
	display: none;
	line-height: 24px;
}
/* Navigation section end */

/* Sidebar start */
#right-side .sidebar_top{
	padding: 20px 20px 35px 20px;
}
#right-side .sidebar_top, #right-side .support{
    background: #dbdbdb;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}
#right-side .sidebar_top, #right-side .support{
	padding: 20px 20px 35px 20px;
    background: #dbdbdb;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}
#right-side .sidebar_top .tagline_side{
	font-size: 14px;
	padding-bottom: 30px;
}
#right-side .sidebar_top a {
	background: #007cba;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 30px;
}
#right-side .sidebar_bottom{
	padding: 20px;
}
#right-side .sidebar_bottom li {
	padding-bottom: 18px;
}
#right-side .support{
	padding: 20px;
}
#right-side .support a{
	cursor: pointer;
}
/* Sidebar section end */

/* Create role specific section start */
#proler-role-create .submit, #proler-role-create button {
	margin: 0;
}
.proler-role-list h2 {
	margin-top: 0;
}
.proler-role-list ul {
	margin-bottom: 0;
}
.proler-role-list li {
	display: inline-block;
    margin-right: 8px;
    padding: 8px 15px;
    margin-bottom: 13px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}
span.dashicons.dashicons-trash {
	cursor: pointer;
	color: #c1c1c1;
	padding-left: 5px;
	text-decoration: none;
}
span.dashicons.dashicons-trash:hover {
	color: #b32d2e;
}
/* Create role specific section start */

/* Popup start */
.proler-popup {
	transition: 0.3s;
    display: none;
    position: fixed;
    top: 37px;
    right: 0;
    left: 165px;
    width: 100%;
    height: 100%;
    background: #00000063;
    text-align: center;
    z-index: 999999;
    backdrop-filter: blur(2px);
}
.image-wrap {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 500px;
    background-color: #dbdbdb;
    border-radius: 12px;
    padding: 30px 20px;
}
#prolerpop .mpcpop-close.close {
	position: fixed;
    right: 4px;
    top: 0;
    font-size: 24px;
	cursor: pointer;
}
#prolerpop .mpcpop-close:hover {
	color: #000;
}
.mpc-focus {
	font-size: 22px;
}
.mpc-focus a {
	background: #004895;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    width: 120px;
    margin: 40px auto 25px auto;
}
.mpc-focus a:hover {
	text-decoration: none;
}
/* Popup end */
/* HurkanSwitch start */
#mpcdp_settings .hurkanSwitch{
	display: inline-flex;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box{
	cursor: pointer;
    overflow: hidden;
    border-radius: 30px;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item{
    display: none;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
    width: 40px;
	height: 35px;
	color: #ffffff;
    text-transform: uppercase;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item:hover{
	text-decoration: none;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.active{
	display: block;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.active.hurkanSwitch-switch-item-status-off{
	padding-right: 16px;
	padding-left: 32px;
	background: #cbcdcf;
	text-align: right;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.active.hurkanSwitch-switch-item-status-on{
	padding-right: 32px;
	padding-left: 12px;
	background-color: #45494c;
	text-align: left;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item>.hurkanSwitch-switch-cursor-selector{
	top: 5px;
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 20px;
    background: #fff;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-off>.hurkanSwitch-switch-cursor-selector{
	left: 5px;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-on>.hurkanSwitch-switch-cursor-selector{
	right: 6px;
}
#mpcdp_settings .hurkanSwitch>.hurkanSwitch-switch-box>.hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-success{
	background-color:#45494c !important;
}
/* HurkanSwitch end */

/* Switch */
.switch-field {
	display: flex;
}
.switch-field .swatch-item input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
}
.switch-field .swatch-item label {
	cursor: pointer;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-right: none;
	transition: all 0.1s ease-in-out;
}
.switch-field .swatch-item:first-child label {
	border-radius: 4px 0 0 4px;
}
.switch-field .swatch-item:last-child label {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0 4px 4px 0;
}
.switch-field .swatch-item label:hover, .switch-field .swatch-item input:checked + label{
	color: #fff;
	background: #45494c;
}
.woocommerce_options_panel .switch-field label {
    padding: 10px 13px;
    margin: 0;
    float: none;
}
#mpcdp_settings .proler-saved-settings {
	padding: 15px 10px;
    border: 1px solid #c3c4c7;
    font-weight: 600;
    margin-bottom: 20px;
}
.proler-notice{
	padding-top: 70px;
	margin-right: 10px;
}
@media screen and (max-width: 1600px){
	#mpcdp_settings{
		margin: 20px 20px 0 0;
	}
	.proler-option-content input[type="datetime-local"], .pr-settings select{
		border-radius: 5px;
		padding: 0 25px 0 10px;
		font-size: 100%;
	}
	.proler-option-content textarea{
		padding: 10px;
		font-size: 100%;
	}
	#mpcdp_settings .disrange-item select, #mpcdp_settings .disrange-item input[type="text"]{
		border-radius: 0;
		border: 1px solid #dfdfdf;
		border-right: none;
		margin: 0;
		width: 25%;
	}
	#mpcdp_settings .disrange-item input[type="text"]:last-of-type {
		border-right: 1px solid #dfdfdf;
	}
	#mpcdp_settings .disrange-item select:focus, #mpcdp_settings .disrange-item input[type="text"]:focus{
		border-right: 1px solid;
	}
}
@media screen and (max-width: 1200px){
	#right-side{
		display: none;
	}
	#left-side{
		width: 16%;
	}
	#middle-content{
		width: 84%;
	}
	.role-settings-head .mpcdp_row .col-md-6{
		width: 100%;
		margin-bottom: 20px;
	}
	.woocommerce_options_panel select{
		float: none;
	}
	.mpcdp_row.disrange-item .delete-disrange {
		margin-left: 0;
		line-height: 20px;
	}
	.new-role-wrap .mpcdp_settings_submit button.mpcdp_submit_button{
		width: auto;
		height: auto;
	}
	.discount-range-demo{
		display: none;
	}
	div#proler_product_data_tab #mpcdp_settings{
		margin: 0;
	}
}
@media screen and (max-width: 1024px){
	#middle-content{
		width: 80%;
	}
	#right-side{
		display: none;
	}
}
@media all and (max-width: 782){
	.mpcdp_row{
		flex-direction:column
	}
}
@media screen and (max-width: 767px) {
	.mpcdp_settings_section > .mpcdp_row {
		padding-left: unset;
	}
	.role-settings-head .mpcdp_row{
		display: block;
	}
	.mpcdp_row .col-md-3{
		max-width:70px
	}
	.mpcdp_submit_button .save-text{
		display:none
	}
	.mpcdp_submit_button .save-text.save-text-mobile{
		display:block
	}
	.proler-nav-wrap .nav-item span.label{
		display:none
	}
	.mpcdp_settings_section .mpcdp_settings_toggle .mpcdp_settings_option{
		padding:40px 20px
	}
	
	.mpcdp_option_label{
		margin-bottom:15px
	}
	.mpcdp_option_description{
		padding:0 0 10px
	}
	.mpcdp_settings_submit .submit{
		margin:5px !important
	}
	.image-wrap {
		top: 50%;
		width: 80%;
	}
	.mpc-focus{
		font-size: 20px;
		line-height: 30px;
	}
	.mpc-focus span {
		display: block;
	}
	.mpc-focus a {
		padding: 5px 20px;
		border-radius: 30px;
		margin: 15px auto 25px auto;
	}
	#mpcdp_settings {
		margin: 0;
		margin-top: 10px;
		max-width: 97% !important;
	}
	.mpcdp_settings_section_title {
		font-size: 16px;
	}
	.mpcdp_settings_section .mpcdp_settings_toggle .mpcdp_settings_option {
		padding: 20px 20px;
	}
	/* August 05, 2024 */
	#right-side{
		display: none;
	}
	#middle-content {
		width: 85%;
	}
	#middle-content .notice a.button {
		min-height: auto;
		line-height: 28px;
		padding: 0 5px;
	}
	#middle-content select, .pr-settings select {
		line-height: 28px;
		font-size: 14px;
		width: 100%;
	}
	.proler-role-list li{
		display: block;
		margin-right: 0;
		padding: 10px;
		margin-bottom: 10px;
	}
	.proler-custom-roles span.dashicons.dashicons-trash{
		margin-left: 0;
		float: right;
	}
	#mpcdp_settings .proler-saved-settings{
		font-size: 14px;
	}
}
