.proler-save-wrap{
    display: block;
    /* text-align: center; */
    width: 100%;
}
.wp-theme-twentytwentyfive ul li .proler-save-wrap{
    text-align: center;
}
.proler-saving {
    font-size: 13px;
    padding: 3px 10px;
    display: inline-block;
    margin: 5px auto 20px;
    border: 1px solid;
    border-radius: 25px;
    cursor: default;
    line-height: 18px;
}
.proler-saving span{
    font-weight: 600;
}
.woocommerce-shop .proler-save-wrap, .archive.woocommerce-page .proler-save-wrap{
    text-align: center;
}
.woocommerce-shop .proler-saving, .archive.woocommerce-page .proler-saving{
    margin: 5px 0 0;
}
.wp-theme-storefront.woocommerce-shop .proler-saving, .wp-theme-storefront.archive.woocommerce-page .proler-saving, .wp-theme-hello-elementor.woocommerce-shop .proler-saving, .wp-theme-hello-elementor.archive.woocommerce-page .proler-saving{
    margin: 0 0 16px;
}
.wp-theme-twentytwentyfive.woocommerce-page .proler-saving{
    margin: 0;
}
@media screen and (max-width: 676px){
    .wp-theme-twentytwentyfive.woocommerce-page .proler-saving{
        margin: 0 0 20px;
    }
}