.proler-saving {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 15px;
}
li.product .proler-saving {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-color: #6d6d6d;
}