.proler-saving {
    font-size: 13px;
    padding: 3px 12px 3px 6px;
    display: inline-block;
    margin: 0 auto 20px;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    color: #222;
    cursor: default;
}
.proler-saving span{
    color: #fb7a62;
    font-weight: 600;
}
.proler-saving svg {
    fill: #3f7c63;
    width: 18px;
    display: inline;
    float: left;
    margin-right: 3px;
}
